nagios:
  server:
    log_file: /var/nagios/nagios.log
    resource_file: /etc/nagios/resource.cfg
  nrpe:
    server_address: 127.0.0.1
    server_port: 5666
    allowed_hosts: 127.0.0.1
    command_timeout: 60
    connection_timeout: 300
    checks:
      - command[check_users]=/usr/lib/nagios/plugins/check_users -w 5 -c 10
      - command[check_load]=/usr/lib/nagios/plugins/check_load -w 15,10,5 -c 30,25,20
      - command[check_hda1]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -p /dev/sda1
      - command[check_zombie_procs]=/usr/lib/nagios/plugins/check_procs -w 5 -c 10 -s Z
      - command[check_total_procs]=/usr/lib/nagios/plugins/check_procs -w 150 -c 200
  nsca:
    client:
      password: s3crIt
      encryption_method: 1
  lookup:
    nagios_plugins: nagios-plugins
    nagios_server: nagios3
    nagios_service: nagios3
    nrpe_plugin: nagios-nrpe-plugin
    nrpe_server: nagios-nrpe
    nrpe_service: nrpe
