{% set map = salt['grains.filter_by']({
    'Arch': {
        'cgi_config_file': '/etc/nagios/nagios.cfg',
        'cgi_physical_html_path': '/usr/share/nagios/share',
        'cgi_url_html_path': '/nagios',
        'cgi_nagios_check_command': '/usr/lib/nagios/plugins/check_nagios /var/nagios/status.dat 5 \'/usr/sbin/nagios\'',
        'nagios_check_result_path': '/var/nagios/spool/checkresults',
        'nagios_cgi_conf': '/etc/nagios3/cgi.conf',
        'nagios_conf': '/etc/nagios/nagios.cfg',
        'nagios_command_file': '/var/nagios/rw/nagios.cmd',
        'nagios_lock_file': '/var/nagios/nagios.lock',
        'nagios_log': '/var/nagios/nagios.log',
        'nagios_log_archive_path': '/var/nagios/archives',
        'nagios_object_cache': '/var/nagios/objects.cache',
        'nagios_p1_file': '/usr/share/nagios/bin/p1.pl',
        'nagios_precached_object_file': '/var/nagios/objects.precache',
        'nagios_plugins': 'nagios-plugins',
        'nagios_resource_file': '/etc/nagios/resource.cfg',
        'nagios_server': 'nagios',
        'nagios_service': 'nagios',
        'nagios_state_retention_file': '/var/nagios/retention.dat',
        'nagios_status_file': '/var/nagios/status.dat',
        'nagios_temp_file': '/var/nagios/nagios.tmp',
        'nrpe_plugin': 'nagios-nrpe-plugin',
        'nrpe_server': 'nagios-nrpe',
        'nrpe_service': 'nrpe',
        'nsca_client': 'nagios-nsca',
    },
    'Debian': {
        'cgi_config_file': '/etc/nagios3/nagios.cfg',
        'cgi_physical_html_path': '/usr/share/nagios3/htdocs',
        'cgi_url_html_path': '/nagios3',
        'cgi_nagios_check_command': '/usr/lib/nagios/plugins/check_nagios /var/cache/nagios3/status.dat 5 \'/usr/sbin/nagios3\'',
        'nagios_check_result_path': '/var/lib/nagios3/spool/checkresults',
        'nagios_cgi_conf': '/etc/nagios3/cgi.conf',
        'nagios_conf': '/etc/nagios/nagios.cfg',
        'nagios_command_file': '/var/lib/nagios3/rw/nagios.cmd',
        'nagios_debug_file': '/var/log/nagios3/nagios.debug',
        'nagios_lock_file': '/var/run/nagios3/nagios3.pid',
        'nagios_log': '/var/log/nagios3/nagios.log',
        'nagios_log_archive_path': '/var/log/nagios3/archives',
        'nagios_object_cache': '/var/cache/nagios3/objects.cache',
        'nagios_p1_file': '/usr/lib/nagios3/p1.pl',
        'nagios_precached_object_file': '/var/lib/nagios3/objects.precache',
        'nagios_plugins': 'nagios-plugins',
        'nagios_resource_file': '/etc/nagios3/resource.cfg',
        'nagios_server': 'nagios3',
        'nagios_service': 'nagios3',
        'nagios_state_retention_file': '/var/lib/nagios3/retention.dat',
        'nagios_status_file': '/var/cache/nagios3/status.dat',
        'nagios_temp_file': '/var/cache/nagios3/nagios.tmp',
        'nrpe_plugin': 'nagios-nrpe-plugin',
        'nrpe_server': 'nagios-nrpe-server',
        'nrpe_service': 'nagios-nrpe-server',
        'nsca_client': 'nsca-client',
    },
}, merge=salt['pillar.get']('nagios:lookup')) %}
