{% import_yaml "nagios/defaults.yaml" as defaults %}
{% import_yaml "nagios/osfamilymap.yaml" as osfamilymap %}

{% set osfam = salt['grains.filter_by'](
                                        osfamilymap,
                                        grain='os_family'
                                        ) or {} %}

{% do salt['defaults.merge'](defaults, osfam) %}

{%- set cgi = salt['pillar.get'](
                                'nagios:lookup:cgi',
                                default=defaults['cgi'],
                                merge=True,
                                ) %}
{%- set nagios = salt['pillar.get'](
                                'nagios:lookup:nagios',
                                default=defaults['nagios'],
                                merge=True,
                                ) %}
{%- set nrpe = salt['pillar.get'](
                                'nagios:lookup:nrpe',
                                default=defaults['nrpe'],
                                merge=True,
                                ) %}
{%- set nsca = salt['pillar.get'](
                                'nagios:lookup:nsca',
                                default=defaults['nsca'],
                                merge=True,
                                ) %}