{% set map = salt['grains.filter_by']({
    'Arch': {
        'nagios_plugins': 'nagios-plugins',
        'nagios_server_pkg': 'nagios',
        'nagios_service': 'nagios',
        'nrpe_plugin': 'nagios-nrpe-plugin',
        'nrpe_server': 'nagios-nrpe',
        'nrpe_service': 'nrpe',
    },
    'Debian': {
        'nagios_plugins': 'nagios-plugins',
        'nagios_server_pkg': 'nagios3',
        'nagios_service': 'nagios3',
        'nrpe_plugin': 'nagios-nrpe-plugin',
        'nrpe_server': 'nagios-nrpe-server',
        'nrpe_service': 'nagios-nrpe-server',
    },
}, merge=salt['pillar.get']('nagios:lookup')) %}
