{% set map = salt['grains.filter_by']({
    'Arch': {
        'gid': 30,
        'guid': 30,
        'group': 'nagios',
        'home': '/dev/null',
        'pkgs': ['nagios', 'nagios-plugins', ],
        'service': 'nagios',
        'uid': 30,
        'user': 'nagios',
    },
    'Debian': {
        'group': 'nagios',
        'home': '/var/lib/nagios',
        'pkgs': ['nagios3', 'nagios-plugins', ],
        'service': 'nagios3',
        'user': 'nagios',
    },
    'Redhat': {
        'group': 'nagios',
        'home': '/usr/share/nagios',
        'pkgs': ['nagios', 'nagios-plugins-all', ],
        'service': 'nagios',
        'user': 'nagios',
    },
    'Ubuntu': {
        'group': 'nagios',
        'home': '/var/lib/nagios',
        'pkgs': ['nagios3', 'nagios-plugins', ],
        'service': 'nagios3',
        'user': 'nagios',
    },
}, merge=salt['pillar.get']('nagios:lookup')) %}
