{% set map = salt['grains.filter_by']({
    'Arch': {
        'pkgs': ['nagios', 'nagios-plugins', ],
        'service': 'nagios',
    },
    'Redhat': {
      'pkgs': ['nagios', 'nagios-plugins-all', ],
      'service': 'nagios',
    },
}, merge=salt['pillar.get']('nagios:lookup')) %}
